body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling to the table */
.product-table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #655dff;
    color:white;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
main {
    display:flex;
    flex-direction: column;
}
#shopping-cart {
    color:#655dff;
    margin-left:10px;
    cursor:pointer;
    transition: 1.4s ease-in-out;
}
#shopping-cart:hover {
    color:#afa3ff;
    transform:scale(1.2);
}
.fa-bars
 {
    cursor: pointer;
 }
 i {
    cursor:pointer;
    transition: transform 0.3s ease;

 }
 i:hover {
    transform: translateX(3px) rotateX(20deg);
 }